{% load static %}
{% load materializecss %}


<!DOCTYPE html>
<html lang="es">


<head>
	
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--Import materialize.css-->
	<link rel="stylesheet" href="{% static 'css/estilo.css' %}">  

	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<meta charset="utf-8">

	<!--<link rel="stylesheet" href="{% static 'css/estilos.css' %}">-->

	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js">
	</script>

	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

	{% block css %}
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.1/css/materialize.min.css"
	 integrity="sha256-qj3p6P1fJIV+Ndv7RW1ovZI2UhOuboj9GcODzcNFIN8=" crossorigin="anonymous" />
	{% endblock css %}



	<title> {% block title %} Clínica [nombre]{% endblock %}</title>
</head>

<body>


	{% block header %}
		<!--Navbar logo y opciones principales-->
		<div class="navbar-fixed">
		<nav>
			<div class="nav-wrapper blue lighten-3">
			  <a href="{% url 'index' %}" class="brand-logo">
				  <img  class='responsive-img' src="{% static 'images/logito.png' %}" width="170" height="90" alt="logo">
			  </a>
			  <ul id="nav-mobile" class="right hide-on-med-and-down ">
					{% if user.is_authenticated %}
				<li>Bienvenido {{request.user.username}} --</li>
				{% endif %}
				<li><a href="{% url 'quienessomos' %}">Quienes somos</a></li>
				<li><a href="{% url 'profesionales' %}">Profesionales</a></li>
				<li><a href="{% url 'pacientes' %}">Pacientes</a></li>
				{% if user.is_authenticated == False %}
				<li><a href="{% url 'login' %}">Ingresar</a></li>
				{% endif %}
				{% if user.is_authenticated %}
				{% if request.user.is_superuser == False %}
				<li><a href="{% url 'ver_mi_ficha' %}">Mi ficha</a></li>
				{% endif %}
				<li><a href="{% url 'logout' %}">Salir</a></li>
				{% endif %}
			  </ul>
			</div>
		  </nav>
		</div>
	{% endblock %}


	<main>
		<div class="container">
				{% block content %}
				{% endblock %}
			
		</div>
     </main>
	<div id="offlinedata">
		<!-- the news will get displayed here from indexedDB in offline mode -->
	</div>


	<!--FOOTER con materializecss-->

	{% block footer %}


	<footer class="page-footer blue lighten-3">
		<div class="container">
		  <div class="row">
			<div class="col l6 s12">
			  <h5 class="white-text">Clínica MG</h5>
			  <p class="grey-text text-lighten-4">Estamos disponibles las 24 los 7 días de la semana para tu salud</p>
			</div>
			<div class="col l2 offset-l2 s6">
			  <h6>Nosotros</h6>
			  <ul>
				<li><a href="" class="grey-text text-lighten-3">Profesionales</a></li>
				<li><a href="" class="grey-text text-lighten-3">Contactanos</a></li>
				<li><a href="" class="grey-text text-lighten-3">Quienes somos</a></li>
			  </ul>
			</div>
			
		  </div>
		</div>
		<div class="footer-copyright">
		  <div class="container">Made by <a href="">Jocelyn Gutiérrez</a></div>
		</div>
	  </footer>
	{% endblock %}


	  <!--JAVASCRIPT para materialize-->
	{% block javascript %}
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	 crossorigin="anonymous"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.1/js/materialize.min.js" integrity="sha256-SrBfGi+Zp2LhAvy9M1bWOCXztRU9Ztztxmu5BcYPcPE="
	 crossorigin="anonymous"></script>

	<script>
		$(document).ready(function () {
			// Initialize materialize data picker
			$('.datepicker').datepicker({ 'format': 'yyyy-mm-dd' });
			$('select').formSelect();
		});
	</script>

	 <script>
	 

  // Or with jQuery

  $(document).ready(function(){
    $('.modal').modal();
  });
         

	 </script>
         
	<!--JavaScript at end of body for optimized loading-->
	
	<script src="{% static 'js/script.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/materialize.js' %}"></script>

	<!--Cargar archivos para el manifest-->
	<script type="text/javascript" src="{% static 'js/idb.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/idbop.js' %}"></script>

	{% endblock javascript %}

</body>

</html>