{% extends 'base/base.html' %}

{% load static %}
{% get_media_prefix %}
{% load materializecss %}
{% block content %}
{% csrf_token %}

<h1 class="titulo-centrado">Lista de profesionales</h1>
{% include 'administracion/nuevoprofesional.html' with form=form %}


{% if profesionales %}
    {% for profesional in profesionales %}

    <h5>{{ profesional.nombre }}</h5>
    <hr>
     <img src= "{{profesional.foto.url}}" alt="foto profesionals">
    {% endfor %}
    {% else %}
    <h1>No hay profesionales</h1>
  
{% endif %}



{% endblock %}

