{% extends 'base/base.html' %}

{% load static %}
{% get_media_prefix %}
{% load materializecss %}
{% block content %}
{% csrf_token %}

<div class="row">
    <h1 class="titulo-centrado">Lista de profesionales</h1>
    {% if request.user.is_superuser %}
    <div class="col s6 offset-s10">
            {% include 'administracion/nuevoprofesional.html' with form=form %}
    </div>
    {% endif %}
</div>


    




{% if profesionales %}
    {% for profesional in profesionales %}

    <hr>
    <div class="row">
        <div class="col s3">
            <img class="responsive-img" src= "{{profesional.foto.url}}" alt="foto profesional">
        </div>
        <div class="col s3">
            <h4>{{ profesional.nombre }}</h4>
            <h5>{{ profesional.areaAtencion}}</h5>
        </div>

        <div class="col s3">
            <h5>{{ profesional.sector }}</h5>
            <h5>{{ profesional.horarioAtencion }}</h5>
        </div>
        {% if request.user.is_superuser %}
        <div class="col s3">
            <button class="btn waves-effect waves-light"  name="action">Eliminar
                <i class="material-icons right">done</i>
            </button>

            <button class="btn waves-effect waves-light"  name="action">Modificar
                <i class="material-icons right">done</i>
            </button>
        </div>
        {% endif %}
    </div>
    
    
    {% endfor %}
    {% else %}
    <h1>No hay profesionales</h1>
  
{% endif %}



{% endblock %}

