{% extends 'base/base.html' %}
{% load static %}
{% load materializecss %}

{% block title %} Crear profesional {% endblock %}

{% block content %}

<div class="container"></div>

    <h1 class="titulo-centrado"> Crear profesional </h1>

    <a class="waves-light btn modal-trigger" href="#modal1">Modal</a>

    <!-- Modal Structure -->
    <div id="modal1" class="modal">
      <div class="modal-content">
        <form method = "post">
            {% csrf_token %}
            <div class="row"><h4 class="titulo-centrado">CREAR NUEVO PROFESIONAL</h4></div>
            <div class="row">
                {{ form.nombre|materializecss:'s6 ' }}
                {{ form.sector|materializecss:'s6' }}
                {{ form.horarioAtencion|materializecss:'s6' }}
                {{ form.foto|materializecss:'s6' }}
                {{ form.areaAtencion|materializecss:'s6' }}
            </div>
    
            <div class="row center">
                <button class="waves-effect waves-light btn" type="submit" name="action">Guardar
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </form>
    
      </div>
    </div>

    
</div>


{% endblock %}