{% extends 'base/base.html' %}

{% load static %}
{% get_media_prefix %}
{% load materializecss %}
{% block content %}

<h1 class="titulo-centrado">Mi ficha</h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
        
    <div class="row">
            {{ form.rut|materializecss:'s4 ' }}
              
            {{ form.nombre|materializecss:'s4 ' }}
               
            {{ form.apellido|materializecss:'s4 ' }}
        </div>
        
            
        <div class="row">
            {{ form.direccion|materializecss:'s6 ' }}

            {{ form.email|materializecss:'s6 ' }}

        </div> 
        <div class="row">
            {{ form.fechaNacimiento|materializecss:'s4 '}}
            
            {{ form.telefono|materializecss:'s4 '}}

            {{ form.estadoCivil|materializecss:'s4 ' }}
                
        </div>       
                    
        <div class="row">
            {{ form.numeroHijos|materializecss:'s3 ' }}
                
            {{ form.problemasSalud|materializecss:'s3 '}}
                
            {{ form.peso|materializecss:'s3 ' }}
               
            {{ form.altura |materializecss:'s3 ' }}
        </div>       
                    
        
 
</form>

{% endblock %}