{% extends 'base/base.html' %}

{% load static %}

{% load materializecss %}
{% block content %}
{% csrf_token %}

<div class="row">
    <h1 class="titulo-centrado">Lista de pacientes</h1>
    {% if request.user.is_superuser %}
    <div class="col s6 offset-s10">

           <a class="btn waves-effect waves-light green" href="{% url 'nuevo_paciente' %}">Nuevo paciente</a>
    </div>
    {% endif %}
</div>



<table class="table table-bordered">
    <thead>
      <tr>

        <td><b> Rut</b></td>
        <td><b>Nombre</b></td>
        <td style="width: 250px;"><b>Apellido</b></td>
        <td><b>Fecha de Nacimiento</b></td>
        <td><b>Teléfono</b></td>
        <td><b>Estado Civil</b></td>
        <td><b>Acciones</b></td>
      </tr>
    </thead>
    <tbody>
      {% if pacientes %}
      {% for paciente in pacientes %}
      <tr>

        <td>{{ paciente.rut }}</td>
        <td>{{ paciente.nombre }}</td>
        <td>{{ paciente.apellido }}</td>
        <td>{{ paciente.fechaNacimiento }}</td>
        <td>{{ paciente.telefono }}</td>
        <td>{{ paciente.estadoCivil }}</td>
        <td>
          <a class="btn waves-effect waves-light orange" href="{% url 'modificar_paciente' paciente.rut %}">Editar</a>
          <a class="btn waves-effect waves-light red" href="{% url 'eliminar_ficha' paciente.rut %}">Eliminar</a>


        </td>
      </tr>

      {% endfor %}

      {% else %}

      <h1>No existen registros de pacientes, vuelva  intentar más tarde</h1>

      {% endif %}
    </tbody>
  </table>


{% endblock %}

