{% extends 'base/base.html' %}
{% load staticfiles %}
{% load materializecss %}



	<body >
		
	
			<nav id="principal">
		
				<div class="navbar-fixed">
				
					<div class="nav-wrapper container">
						<a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
					<ul id="nav-mobile" class="right hide-on-med-and-down">
						<li><a href="index.html"> Inicio</a></li>
						<li><a href="QuienesSomos.html">Quienes somos</a></li>
						<a href="#" class="dropdown-trigger" data-target="id_drop">
					</ul>
					</div>	
				</div>
			
				<ul class="sidenav" id="mobile-demo">
						<li><a href="index.html"> Inicio</a></li>
						<li><a href="QuienesSomos.html">Quienes somos</a></li>
				</ul>
			</nav>
			
			{% block content %}
			{% csrf_token %}
			<div class="container" id="container ">
				<!-- TITULO	 -->
				<div class="row" align="center"><h3>Quienes somos </h3>
				<div class="col s12 m3"></div>
				<div class="col s12 m6"></div>
			</div>

			
			<p> Con mas de 15 años de experincia ,'NOMBE EMPRESA' constituye una completa red de atención ambulatoria, 
				por medio de 10 centros médicos que esán ubicados en las principales comunas de las Región Metropolitana,
				cada centro "NOMBRE EMPRESA" cuenta con un equipo médico y personal altamente capacitado,
				con una amplia experiencia, apoyados por un medoledo software de gestión de pacientes
				y equipamiento de alta tecnología, que permiten administrar,diagnosticar y solucionar 
				eficientemente los problemas de salud de los paciente atendidos.  </p><br>


			<div class="container" id="container">
				<!-- TITULO	 -->
				<div class="row" align="center"><h3>Misión </h3>
				<div class="col s12 m3"></div>
				<div class="col s12 m6"></div>
			</div>

					<center>
						<p> Satifacer en forma integral las necesidades en el cuidado de la salud de las personas
							y contribuir al desarrollo del conocimiento médico en beneficio de la comunidad.
						</p><br>
					</center>
			
			<div class="container" id="container">
						<!-- TITULO	 -->
						<div class="row" align="center"><h3>Visión </h3>
						<div class="col s12 m3"></div>
						<div class="col s12 m6"></div>
			</div>


					<center>
					<p> Ser reconocida como la primera institución de salud con mayor cobertura y pacientes
						satifechos de la región. 
					</p><br>
					</center>
					
		
			
			{% endblock %}	
				
	</body>
